body {
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  height: 100vh;
}

.todolist-app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "header"
  "main";
}

.sidebar {
  display: none;
}

.sidebar-content {
  padding: 28px 28px 0px 28px;
  display: flex;
  flex-direction: column;
}

.main > .wrapper {
  padding: 32px 64px 16px 64px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  white-space: nowarp;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 8px;
}

.sidebar-item:hover {
  background-color: rgb(226, 226, 226);
}

.sidebar-item-content {
  margin: 8px 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
}

.sidebar-item-icon {
  display: flex;
  align-items: center;
}

.sidebar-svg {
  height: 1.5em;
}

.header {
  background-color: rgb(130, 194, 255);
  grid-area: header;
  padding: 12px 48px;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-left {
  justify-self: start;
}

.logo-title {
  font-size: 26px;
  font-weight: bold;
}

.header-right {
  justify-self: end;
}

.main {
  background-color: rgb(252, 252, 252);
  grid-area: main;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) { 
  .todolist-app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
  }

  .sidebar {
    display: block;
    background-color: rgb(240, 240, 240);
    grid-area: sidebar;
  }
}