body {
  padding: 0;
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.todolist-app {
  height: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  grid-template-areas: 
  "header"
  "main";
}

.sidebar {
  display: none;
}

.sidebar-content {
  padding: 28px 28px 0px 28px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main > .wrapper {
  padding: 32px 24px 128px 24px;
  box-sizing: border-box;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  border-radius: 8px;
  padding: 1px 0px;
  transition-duration: 0.08s;
}

.sidebar-item-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebar-item:hover {
  background-color: rgb(226, 226, 226);
}

.sidebar-active {
  background-color: rgb(226, 226, 226);
}

.sidebar-item-content {
  margin: 8px 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 10px;
}

.sidebar-item-icon {
  display: flex;
  align-items: center;
}

.sidebar-svg {
  height: 1.5em;
}

.project-list-heading {
  font-size: 18px;
  font-weight: bold;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-list-heading {
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
}

.project-item-content {
  margin: 8px 10px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: center;
  gap: 10px;
}

.project-item-count {
  color: gray;
  justify-self: end;
}

.menu-list.hide {
  display: none;
}

.add-project-button {
  justify-self: end;
}

.header {
  background-color: rgb(148, 203, 255);
  grid-area: header;
  padding: 12px 48px;

  position: sticky;
  top: 0;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-left {
  justify-self: start;
}

.logo-title {
  font-size: 26px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header-right {
  justify-self: end;
}

.main {
  background-color: rgb(252, 252, 252);
  grid-area: main;
}

.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 18px;
}

.main-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-title-text {
  font-size: 22px;
  font-weight: bold;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main-todo-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todo-item-card {
  background-color: rgb(213, 233, 255);
  box-shadow: 0px 0px 12px -9px rgb(131, 131, 131);
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  grid-template-columns: 10px 1fr;
  transition-duration: 0.2s;
}

.todo-item-card:hover .todo-item-highlight {
  background-color: rgb(116, 208, 245);
  transition-duration: 0.24s;
}

.todo-item-content {
  padding: 12px;
  display: grid;
  grid-template-columns: min-content 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  grid-template-areas:
  "checkbox title actions"
  "checkbox description actions"
  "checkbox date project";
}

.todo-item-checkbox {
  grid-area: checkbox;
}

.todo-item-title {
  grid-area: title;

  font-weight: 600;
}

.todo-item-description {
  grid-area: description;
}

.todo-item-card:not(:hover) .todo-item-title,
.todo-item-card:not(:hover) .todo-item-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todo-item-actions {
  grid-area: actions;

  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
}

.todo-item-card:hover .todo-item-actions {
  grid-area: actions;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 4px;
}

img.todo-item-edit,
img.todo-item-delete {
  width: 24px;
}

.todo-item-project-title {
  grid-area: project;
  font-weight: 100;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
}

.todo-item-date {
  grid-area: date;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.356);
}

.modal-container {
  display: flex;
  justify-content: center;
  padding: 64px 16px 64px 16px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.modal-content {
  background-color: white;
  border-radius: 6px;
  width: min(80%, 500px);
  padding: 12px;
  box-shadow: 0px 0px 8px rgb(148, 148, 148);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-item-form, 
.project-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.prio-low:hover > .todo-item-highlight {
  background-color: rgb(107, 207, 128);
}

.prio-medium:hover > .todo-item-highlight {
  background-color: rgb(255, 199, 94);
}

.prio-high:hover > .todo-item-highlight {
  background-color: rgb(255, 0, 0);
}

.prio-low.todo-item-card {
  background-color: rgb(184, 255, 200);;
}

.prio-medium.todo-item-card {
  background-color: rgb(255, 238, 206);;
}

.prio-high.todo-item-card {
  background-color: rgb(255, 170, 170);
}

.undo-container {
  position: fixed;
  bottom: 8px;
  padding: 8px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  border-radius: 8px;
}

.undo-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media only screen and (min-width: 800px) { 
  .todolist-app {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
  }

  .sidebar {
    display: block;
    background-color: rgb(245, 245, 245);
    grid-area: sidebar;
  }

  .main > .wrapper {
    padding: 32px 64px 128px 64px;
  }

  .modal-container {
    padding: 64px;
  }  
}